.primary-btn {
	margin: 20px 20px;
	display: block;
	width: 285px;
	color: $primary_font_color;
	font: 700 26px/75px $primary_font;
	background-color: #fff200;
	border-radius: 6px;
	text-align: center;
	cursor: pointer;
	&:hover, &:focus {
		text-decoration: none;
		transition: all .4s ease-in-out .1s;
		color: $primary_font_color;
		background-color: $secondary_font_color;
	}
}
.question-btn {
	background-color: $secondary_font_color;
		&:hover, &:focus {background-color: $accent_color;}
}