.question {
	padding: 105px 0 95px 0;
	color: $secondary_font_color;
	background-image: linear-gradient(225deg, #07cacf 0%, #1f99b1 100%);
	h2.title {font: 300 63px $helvetica_neue;}
	.description {font: 300 35px $helvetica_neue;}
}