$primary_font: "Source Sans Pro", sans-serif;
$secondary_font: "Freight Text Book Italic", sans-serif;
$primary_font_color:  #363c4e;
$secondary_font_color: #ffffff;
$additional_color: #000000;
$accent_color: #ff9b9b;
$fa-font-path: "../libs/font-awesome/fonts";
@import "fonts";