$primary_font: "Source Sans Pro", sans-serif;
$secondary_font: "Freight Text Book Italic", sans-serif;
$helvetica_neue: "Helvetica Neue", sans-serif;
$primary_font_color:  #363c4e;
$secondary_font_color: #ffffff;
$additional_color: #393c44;
$accent_color: #fff200;
$fa-font-path: "../libs/font-awesome/fonts";
@import "fonts";